NET "Pads<CLOCKS><K_CLK>" TNM_NET = "Pads<CLOCKS><K_CLK>";
NET "Pads<CLOCKS><M_CLK>" TNM_NET = "Pads<CLOCKS><M_CLK>";
TIMESPEC "TS_U_Clocks_K_CLK_1" = PERIOD "Pads<CLOCKS><K_CLK>" 30 ns HIGH 50 %;
TIMESPEC "TS_U_Clocks_M_CLK_1" = PERIOD "Pads<CLOCKS><M_CLK>" 12 ns HIGH 50 %;
NET "Pads<CLOCKS><K_CLK>" LOC = "D17";
NET "Pads<CLOCKS><M_CLK>" LOC = "AL17";
NET "Pads<CLOCKS><P_CLK>" LOC = "AJ17";
NET "Pads<CLOCKS><U_CLK>" LOC = "A17";
NET "Pads<LAD_BUS><ADDR_DATA><0>" LOC = "AL19";
NET "Pads<LAD_BUS><ADDR_DATA><1>" LOC = "AN19";
NET "Pads<LAD_BUS><ADDR_DATA><10>" LOC = "AL16";
NET "Pads<LAD_BUS><ADDR_DATA><11>" LOC = "AM16";
NET "Pads<LAD_BUS><ADDR_DATA><12>" LOC = "AL15";
NET "Pads<LAD_BUS><ADDR_DATA><13>" LOC = "AK15";
NET "Pads<LAD_BUS><ADDR_DATA><14>" LOC = "AJ15";
NET "Pads<LAD_BUS><ADDR_DATA><15>" LOC = "D19";
NET "Pads<LAD_BUS><ADDR_DATA><16>" LOC = "C19";
NET "Pads<LAD_BUS><ADDR_DATA><17>" LOC = "A19";
NET "Pads<LAD_BUS><ADDR_DATA><18>" LOC = "D18";
NET "Pads<LAD_BUS><ADDR_DATA><19>" LOC = "E18";
NET "Pads<LAD_BUS><ADDR_DATA><2>" LOC = "AJ18";
NET "Pads<LAD_BUS><ADDR_DATA><20>" LOC = "C18";
NET "Pads<LAD_BUS><ADDR_DATA><21>" LOC = "E17";
NET "Pads<LAD_BUS><ADDR_DATA><22>" LOC = "C17";
NET "Pads<LAD_BUS><ADDR_DATA><23>" LOC = "B17";
NET "Pads<LAD_BUS><ADDR_DATA><24>" LOC = "B16";
NET "Pads<LAD_BUS><ADDR_DATA><25>" LOC = "D16";
NET "Pads<LAD_BUS><ADDR_DATA><26>" LOC = "E16";
NET "Pads<LAD_BUS><ADDR_DATA><27>" LOC = "C16";
NET "Pads<LAD_BUS><ADDR_DATA><28>" LOC = "A15";
NET "Pads<LAD_BUS><ADDR_DATA><29>" LOC = "C15";
NET "Pads<LAD_BUS><ADDR_DATA><3>" LOC = "AK18";
NET "Pads<LAD_BUS><ADDR_DATA><30>" LOC = "D15";
NET "Pads<LAD_BUS><ADDR_DATA><31>" LOC = "E15";
NET "Pads<LAD_BUS><ADDR_DATA><4>" LOC = "AL18";
NET "Pads<LAD_BUS><ADDR_DATA><5>" LOC = "AM18";
NET "Pads<LAD_BUS><ADDR_DATA><6>" LOC = "AM17";
NET "Pads<LAD_BUS><ADDR_DATA><7>" LOC = "AN17";
NET "Pads<LAD_BUS><ADDR_DATA><8>" LOC = "AK16";
NET "Pads<LAD_BUS><ADDR_DATA><9>" LOC = "AJ16";
NET "Pads<LAD_BUS><CS_N>" LOC = "C20";
NET "Pads<LAD_BUS><DMA_CHAN><0>" LOC = "D14";
NET "Pads<LAD_BUS><DMA_CHAN><1>" LOC = "A13";
NET "Pads<LAD_BUS><DMA_STAT><0>" LOC = "B21";
NET "Pads<LAD_BUS><DMA_STAT><1>" LOC = "E14";
NET "Pads<LAD_BUS><DS_N>" LOC = "E19";
NET "Pads<LAD_BUS><INT_REQ_N>" LOC = "C14";
NET "Pads<LAD_BUS><REG_N>" LOC = "D20";
NET "Pads<LAD_BUS><WR_N>" LOC = "E20";
NET "Pads<LEDS><GREEN_N>" LOC = "A28";
NET "Pads<LEDS><RED_N>" LOC = "B7";
NET "Pads<LEFT_MEM><ADDR_CS_N>" LOC = "E25";
NET "Pads<LEFT_MEM><ADDR><0>" LOC = "G29";
NET "Pads<LEFT_MEM><ADDR><1>" LOC = "C33";
NET "Pads<LEFT_MEM><ADDR><10>" LOC = "E27";
NET "Pads<LEFT_MEM><ADDR><11>" LOC = "C29";
NET "Pads<LEFT_MEM><ADDR><12>" LOC = "B30";
NET "Pads<LEFT_MEM><ADDR><13>" LOC = "D27";
NET "Pads<LEFT_MEM><ADDR><14>" LOC = "C28";
NET "Pads<LEFT_MEM><ADDR><15>" LOC = "E26";
NET "Pads<LEFT_MEM><ADDR><16>" LOC = "B29";
NET "Pads<LEFT_MEM><ADDR><17>" LOC = "D26";
NET "Pads<LEFT_MEM><ADDR><18>" LOC = "C27";
NET "Pads<LEFT_MEM><ADDR><2>" LOC = "F30";
NET "Pads<LEFT_MEM><ADDR><3>" LOC = "D31";
NET "Pads<LEFT_MEM><ADDR><4>" LOC = "E30";
NET "Pads<LEFT_MEM><ADDR><5>" LOC = "F29";
NET "Pads<LEFT_MEM><ADDR><6>" LOC = "D29";
NET "Pads<LEFT_MEM><ADDR><7>" LOC = "C30";
NET "Pads<LEFT_MEM><ADDR><8>" LOC = "D28";
NET "Pads<LEFT_MEM><ADDR><9>" LOC = "A31";
NET "Pads<LEFT_MEM><CS_N>" LOC = "E28";
NET "Pads<LEFT_MEM><DATA><0>" LOC = "P29";
NET "Pads<LEFT_MEM><DATA><1>" LOC = "M32";
NET "Pads<LEFT_MEM><DATA><10>" LOC = "J33";
NET "Pads<LEFT_MEM><DATA><11>" LOC = "L30";
NET "Pads<LEFT_MEM><DATA><12>" LOC = "K31";
NET "Pads<LEFT_MEM><DATA><13>" LOC = "L29";
NET "Pads<LEFT_MEM><DATA><14>" LOC = "H33";
NET "Pads<LEFT_MEM><DATA><15>" LOC = "K30";
NET "Pads<LEFT_MEM><DATA><16>" LOC = "J31";
NET "Pads<LEFT_MEM><DATA><17>" LOC = "H32";
NET "Pads<LEFT_MEM><DATA><18>" LOC = "K29";
NET "Pads<LEFT_MEM><DATA><19>" LOC = "H31";
NET "Pads<LEFT_MEM><DATA><2>" LOC = "N31";
NET "Pads<LEFT_MEM><DATA><20>" LOC = "J30";
NET "Pads<LEFT_MEM><DATA><21>" LOC = "G32";
NET "Pads<LEFT_MEM><DATA><22>" LOC = "F33";
NET "Pads<LEFT_MEM><DATA><23>" LOC = "J29";
NET "Pads<LEFT_MEM><DATA><24>" LOC = "G31";
NET "Pads<LEFT_MEM><DATA><25>" LOC = "E33";
NET "Pads<LEFT_MEM><DATA><26>" LOC = "E32";
NET "Pads<LEFT_MEM><DATA><27>" LOC = "H29";
NET "Pads<LEFT_MEM><DATA><28>" LOC = "F31";
NET "Pads<LEFT_MEM><DATA><29>" LOC = "G30";
NET "Pads<LEFT_MEM><DATA><3>" LOC = "N30";
NET "Pads<LEFT_MEM><DATA><30>" LOC = "D32";
NET "Pads<LEFT_MEM><DATA><31>" LOC = "E31";
NET "Pads<LEFT_MEM><DATA><4>" LOC = "L33";
NET "Pads<LEFT_MEM><DATA><5>" LOC = "M31";
NET "Pads<LEFT_MEM><DATA><6>" LOC = "L32";
NET "Pads<LEFT_MEM><DATA><7>" LOC = "M30";
NET "Pads<LEFT_MEM><DATA><8>" LOC = "L31";
NET "Pads<LEFT_MEM><DATA><9>" LOC = "M29";
NET "Pads<LEFT_MEM><WE_N>" LOC = "D30";
NET "Pads<MEZZ><LEFT><0>" LOC = "AL24";
NET "Pads<MEZZ><LEFT><1>" LOC = "AN26";
NET "Pads<MEZZ><LEFT><10>" LOC = "AN28";
NET "Pads<MEZZ><LEFT><11>" LOC = "AN29";
NET "Pads<MEZZ><LEFT><12>" LOC = "AJ25";
NET "Pads<MEZZ><LEFT><13>" LOC = "AK26";
NET "Pads<MEZZ><LEFT><14>" LOC = "AM29";
NET "Pads<MEZZ><LEFT><15>" LOC = "AM30";
NET "Pads<MEZZ><LEFT><16>" LOC = "AL28";
NET "Pads<MEZZ><LEFT><17>" LOC = "AK27";
NET "Pads<MEZZ><LEFT><18>" LOC = "AL29";
NET "Pads<MEZZ><LEFT><19>" LOC = "AH29";
NET "Pads<MEZZ><LEFT><2>" LOC = "AJ23";
NET "Pads<MEZZ><LEFT><20>" LOC = "AJ30";
NET "Pads<MEZZ><LEFT><21>" LOC = "AK31";
NET "Pads<MEZZ><LEFT><22>" LOC = "AH30";
NET "Pads<MEZZ><LEFT><23>" LOC = "AL33";
NET "Pads<MEZZ><LEFT><24>" LOC = "AG29";
NET "Pads<MEZZ><LEFT><25>" LOC = "AJ31";
NET "Pads<MEZZ><LEFT><26>" LOC = "AK32";
NET "Pads<MEZZ><LEFT><27>" LOC = "AG30";
NET "Pads<MEZZ><LEFT><28>" LOC = "AH31";
NET "Pads<MEZZ><LEFT><29>" LOC = "AF29";
NET "Pads<MEZZ><LEFT><3>" LOC = "AL25";
NET "Pads<MEZZ><LEFT><30>" LOC = "AJ32";
NET "Pads<MEZZ><LEFT><31>" LOC = "AH32";
NET "Pads<MEZZ><LEFT><32>" LOC = "AF30";
NET "Pads<MEZZ><LEFT><33>" LOC = "AE29";
NET "Pads<MEZZ><LEFT><34>" LOC = "AH33";
NET "Pads<MEZZ><LEFT><35>" LOC = "AG33";
NET "Pads<MEZZ><LEFT><36>" LOC = "AE30";
NET "Pads<MEZZ><LEFT><37>" LOC = "AF31";
NET "Pads<MEZZ><LEFT><38>" LOC = "AD29";
NET "Pads<MEZZ><LEFT><39>" LOC = "AF32";
NET "Pads<MEZZ><LEFT><4>" LOC = "AK24";
NET "Pads<MEZZ><LEFT><40>" LOC = "AE31";
NET "Pads<MEZZ><LEFT><41>" LOC = "AD30";
NET "Pads<MEZZ><LEFT><42>" LOC = "AE32";
NET "Pads<MEZZ><LEFT><43>" LOC = "AC29";
NET "Pads<MEZZ><LEFT><44>" LOC = "AE33";
NET "Pads<MEZZ><LEFT><45>" LOC = "AD31";
NET "Pads<MEZZ><LEFT><46>" LOC = "AC30";
NET "Pads<MEZZ><LEFT><47>" LOC = "AB29";
NET "Pads<MEZZ><LEFT><48>" LOC = "AC31";
NET "Pads<MEZZ><LEFT><49>" LOC = "AC33";
NET "Pads<MEZZ><LEFT><5>" LOC = "AM26";
NET "Pads<MEZZ><LEFT><50>" LOC = "AB30";
NET "Pads<MEZZ><LEFT><51>" LOC = "AB31";
NET "Pads<MEZZ><LEFT><52>" LOC = "AA29";
NET "Pads<MEZZ><LEFT><53>" LOC = "AA30";
NET "Pads<MEZZ><LEFT><54>" LOC = "AA31";
NET "Pads<MEZZ><LEFT><55>" LOC = "AA32";
NET "Pads<MEZZ><LEFT><56>" LOC = "Y29";
NET "Pads<MEZZ><LEFT><57>" LOC = "AA33";
NET "Pads<MEZZ><LEFT><58>" LOC = "Y30";
NET "Pads<MEZZ><LEFT><59>" LOC = "Y32";
NET "Pads<MEZZ><LEFT><6>" LOC = "AM27";
NET "Pads<MEZZ><LEFT><60>" LOC = "W29";
NET "Pads<MEZZ><LEFT><61>" LOC = "W30";
NET "Pads<MEZZ><LEFT><62>" LOC = "W31";
NET "Pads<MEZZ><LEFT><63>" LOC = "W33";
NET "Pads<MEZZ><LEFT><64>" LOC = "V30";
NET "Pads<MEZZ><LEFT><65>" LOC = "V29";
NET "Pads<MEZZ><LEFT><66>" LOC = "V31";
NET "Pads<MEZZ><LEFT><67>" LOC = "V32";
NET "Pads<MEZZ><LEFT><68>" LOC = "U33";
NET "Pads<MEZZ><LEFT><69>" LOC = "U29";
NET "Pads<MEZZ><LEFT><7>" LOC = "AJ24";
NET "Pads<MEZZ><LEFT><70>" LOC = "U31";
NET "Pads<MEZZ><LEFT><71>" LOC = "U32";
NET "Pads<MEZZ><LEFT><72>" LOC = "T32";
NET "Pads<MEZZ><LEFT><73>" LOC = "T30";
NET "Pads<MEZZ><LEFT><74>" LOC = "T29";
NET "Pads<MEZZ><LEFT><75>" LOC = "T31";
NET "Pads<MEZZ><LEFT><76>" LOC = "R33";
NET "Pads<MEZZ><LEFT><77>" LOC = "R31";
NET "Pads<MEZZ><LEFT><78>" LOC = "R30";
NET "Pads<MEZZ><LEFT><79>" LOC = "R29";
NET "Pads<MEZZ><LEFT><8>" LOC = "AL26";
NET "Pads<MEZZ><LEFT><80>" LOC = "P32";
NET "Pads<MEZZ><LEFT><81>" LOC = "P31";
NET "Pads<MEZZ><LEFT><82>" LOC = "P30";
NET "Pads<MEZZ><LEFT><83>" LOC = "AJ26";
NET "Pads<MEZZ><LEFT><84>" LOC = "AM31";
NET "Pads<MEZZ><LEFT><85>" LOC = "AK28";
NET "Pads<MEZZ><LEFT><86>" LOC = "AL30";
NET "Pads<MEZZ><LEFT><87>" LOC = "AN31";
NET "Pads<MEZZ><LEFT><88>" LOC = "AJ27";
NET "Pads<MEZZ><LEFT><9>" LOC = "AK25";
NET "Pads<MEZZ><RIGHT><0>" LOC = "AN9";
NET "Pads<MEZZ><RIGHT><1>" LOC = "AK10";
NET "Pads<MEZZ><RIGHT><10>" LOC = "AL7";
NET "Pads<MEZZ><RIGHT><11>" LOC = "AN6";
NET "Pads<MEZZ><RIGHT><12>" LOC = "AM6";
NET "Pads<MEZZ><RIGHT><13>" LOC = "AJ8";
NET "Pads<MEZZ><RIGHT><14>" LOC = "AL6";
NET "Pads<MEZZ><RIGHT><15>" LOC = "AK7";
NET "Pads<MEZZ><RIGHT><16>" LOC = "AM4";
NET "Pads<MEZZ><RIGHT><17>" LOC = "AJ7";
NET "Pads<MEZZ><RIGHT><18>" LOC = "AL5";
NET "Pads<MEZZ><RIGHT><19>" LOC = "AH5";
NET "Pads<MEZZ><RIGHT><2>" LOC = "AM9";
NET "Pads<MEZZ><RIGHT><20>" LOC = "AJ4";
NET "Pads<MEZZ><RIGHT><21>" LOC = "AK3";
NET "Pads<MEZZ><RIGHT><22>" LOC = "AH4";
NET "Pads<MEZZ><RIGHT><23>" LOC = "AL1";
NET "Pads<MEZZ><RIGHT><24>" LOC = "AG5";
NET "Pads<MEZZ><RIGHT><25>" LOC = "AJ3";
NET "Pads<MEZZ><RIGHT><26>" LOC = "AK2";
NET "Pads<MEZZ><RIGHT><27>" LOC = "AG4";
NET "Pads<MEZZ><RIGHT><28>" LOC = "AH3";
NET "Pads<MEZZ><RIGHT><29>" LOC = "AF5";
NET "Pads<MEZZ><RIGHT><3>" LOC = "AL9";
NET "Pads<MEZZ><RIGHT><30>" LOC = "AJ2";
NET "Pads<MEZZ><RIGHT><31>" LOC = "AJ1";
NET "Pads<MEZZ><RIGHT><32>" LOC = "AF4";
NET "Pads<MEZZ><RIGHT><33>" LOC = "AE5";
NET "Pads<MEZZ><RIGHT><34>" LOC = "AH1";
NET "Pads<MEZZ><RIGHT><35>" LOC = "AF3";
NET "Pads<MEZZ><RIGHT><36>" LOC = "AE4";
NET "Pads<MEZZ><RIGHT><37>" LOC = "AG2";
NET "Pads<MEZZ><RIGHT><38>" LOC = "AD5";
NET "Pads<MEZZ><RIGHT><39>" LOC = "AF2";
NET "Pads<MEZZ><RIGHT><4>" LOC = "AJ10";
NET "Pads<MEZZ><RIGHT><40>" LOC = "AF1";
NET "Pads<MEZZ><RIGHT><41>" LOC = "AD4";
NET "Pads<MEZZ><RIGHT><42>" LOC = "AE3";
NET "Pads<MEZZ><RIGHT><43>" LOC = "AC5";
NET "Pads<MEZZ><RIGHT><44>" LOC = "AE1";
NET "Pads<MEZZ><RIGHT><45>" LOC = "AD3";
NET "Pads<MEZZ><RIGHT><46>" LOC = "AC4";
NET "Pads<MEZZ><RIGHT><47>" LOC = "AB5";
NET "Pads<MEZZ><RIGHT><48>" LOC = "AC3";
NET "Pads<MEZZ><RIGHT><49>" LOC = "AB4";
NET "Pads<MEZZ><RIGHT><5>" LOC = "AM8";
NET "Pads<MEZZ><RIGHT><50>" LOC = "AC1";
NET "Pads<MEZZ><RIGHT><51>" LOC = "AA5";
NET "Pads<MEZZ><RIGHT><52>" LOC = "AB3";
NET "Pads<MEZZ><RIGHT><53>" LOC = "AA4";
NET "Pads<MEZZ><RIGHT><54>" LOC = "AA3";
NET "Pads<MEZZ><RIGHT><55>" LOC = "Y5";
NET "Pads<MEZZ><RIGHT><56>" LOC = "AA1";
NET "Pads<MEZZ><RIGHT><57>" LOC = "Y4";
NET "Pads<MEZZ><RIGHT><58>" LOC = "Y3";
NET "Pads<MEZZ><RIGHT><59>" LOC = "W5";
NET "Pads<MEZZ><RIGHT><6>" LOC = "AK9";
NET "Pads<MEZZ><RIGHT><60>" LOC = "W4";
NET "Pads<MEZZ><RIGHT><61>" LOC = "W3";
NET "Pads<MEZZ><RIGHT><62>" LOC = "W1";
NET "Pads<MEZZ><RIGHT><63>" LOC = "V3";
NET "Pads<MEZZ><RIGHT><64>" LOC = "V5";
NET "Pads<MEZZ><RIGHT><65>" LOC = "V4";
NET "Pads<MEZZ><RIGHT><66>" LOC = "V2";
NET "Pads<MEZZ><RIGHT><67>" LOC = "U2";
NET "Pads<MEZZ><RIGHT><68>" LOC = "U1";
NET "Pads<MEZZ><RIGHT><69>" LOC = "U4";
NET "Pads<MEZZ><RIGHT><7>" LOC = "AL8";
NET "Pads<MEZZ><RIGHT><70>" LOC = "U3";
NET "Pads<MEZZ><RIGHT><71>" LOC = "T2";
NET "Pads<MEZZ><RIGHT><72>" LOC = "T3";
NET "Pads<MEZZ><RIGHT><73>" LOC = "T5";
NET "Pads<MEZZ><RIGHT><74>" LOC = "T4";
NET "Pads<MEZZ><RIGHT><75>" LOC = "R1";
NET "Pads<MEZZ><RIGHT><76>" LOC = "R3";
NET "Pads<MEZZ><RIGHT><77>" LOC = "R4";
NET "Pads<MEZZ><RIGHT><78>" LOC = "R5";
NET "Pads<MEZZ><RIGHT><79>" LOC = "P2";
NET "Pads<MEZZ><RIGHT><8>" LOC = "AN7";
NET "Pads<MEZZ><RIGHT><80>" LOC = "P3";
NET "Pads<MEZZ><RIGHT><81>" LOC = "P4";
NET "Pads<MEZZ><RIGHT><82>" LOC = "P5";
NET "Pads<MEZZ><RIGHT><83>" LOC = "AM5";
NET "Pads<MEZZ><RIGHT><84>" LOC = "AK5";
NET "Pads<MEZZ><RIGHT><85>" LOC = "AJ6";
NET "Pads<MEZZ><RIGHT><86>" LOC = "AL4";
NET "Pads<MEZZ><RIGHT><87>" LOC = "AK6";
NET "Pads<MEZZ><RIGHT><88>" LOC = "AN3";
NET "Pads<MEZZ><RIGHT><9>" LOC = "AJ9";
NET "Pads<RIGHT_MEM><ADDR_CS_N>" LOC = "A6";
NET "Pads<RIGHT_MEM><ADDR><0>" LOC = "C1";
NET "Pads<RIGHT_MEM><ADDR><1>" LOC = "F4";
NET "Pads<RIGHT_MEM><ADDR><10>" LOC = "B4";
NET "Pads<RIGHT_MEM><ADDR><11>" LOC = "A4";
NET "Pads<RIGHT_MEM><ADDR><12>" LOC = "D7";
NET "Pads<RIGHT_MEM><ADDR><13>" LOC = "C6";
NET "Pads<RIGHT_MEM><ADDR><14>" LOC = "E8";
NET "Pads<RIGHT_MEM><ADDR><15>" LOC = "B5";
NET "Pads<RIGHT_MEM><ADDR><16>" LOC = "A5";
NET "Pads<RIGHT_MEM><ADDR><17>" LOC = "D8";
NET "Pads<RIGHT_MEM><ADDR><18>" LOC = "C7";
NET "Pads<RIGHT_MEM><ADDR><2>" LOC = "D3";
NET "Pads<RIGHT_MEM><ADDR><3>" LOC = "B3";
NET "Pads<RIGHT_MEM><ADDR><4>" LOC = "F5";
NET "Pads<RIGHT_MEM><ADDR><5>" LOC = "E4";
NET "Pads<RIGHT_MEM><ADDR><6>" LOC = "D4";
NET "Pads<RIGHT_MEM><ADDR><7>" LOC = "A3";
NET "Pads<RIGHT_MEM><ADDR><8>" LOC = "E7";
NET "Pads<RIGHT_MEM><ADDR><9>" LOC = "C5";
NET "Pads<RIGHT_MEM><CS_N>" LOC = "D6";
NET "Pads<RIGHT_MEM><DATA><0>" LOC = "N2";
NET "Pads<RIGHT_MEM><DATA><1>" LOC = "N3";
NET "Pads<RIGHT_MEM><DATA><10>" LOC = "L4";
NET "Pads<RIGHT_MEM><DATA><11>" LOC = "K3";
NET "Pads<RIGHT_MEM><DATA><12>" LOC = "L5";
NET "Pads<RIGHT_MEM><DATA><13>" LOC = "J2";
NET "Pads<RIGHT_MEM><DATA><14>" LOC = "K4";
NET "Pads<RIGHT_MEM><DATA><15>" LOC = "J3";
NET "Pads<RIGHT_MEM><DATA><16>" LOC = "H2";
NET "Pads<RIGHT_MEM><DATA><17>" LOC = "K5";
NET "Pads<RIGHT_MEM><DATA><18>" LOC = "H3";
NET "Pads<RIGHT_MEM><DATA><19>" LOC = "J4";
NET "Pads<RIGHT_MEM><DATA><2>" LOC = "N4";
NET "Pads<RIGHT_MEM><DATA><20>" LOC = "G1";
NET "Pads<RIGHT_MEM><DATA><21>" LOC = "F1";
NET "Pads<RIGHT_MEM><DATA><22>" LOC = "J5";
NET "Pads<RIGHT_MEM><DATA><23>" LOC = "G3";
NET "Pads<RIGHT_MEM><DATA><24>" LOC = "H4";
NET "Pads<RIGHT_MEM><DATA><25>" LOC = "E2";
NET "Pads<RIGHT_MEM><DATA><26>" LOC = "H5";
NET "Pads<RIGHT_MEM><DATA><27>" LOC = "F3";
NET "Pads<RIGHT_MEM><DATA><28>" LOC = "G4";
NET "Pads<RIGHT_MEM><DATA><29>" LOC = "D2";
NET "Pads<RIGHT_MEM><DATA><3>" LOC = "M2";
NET "Pads<RIGHT_MEM><DATA><30>" LOC = "E3";
NET "Pads<RIGHT_MEM><DATA><31>" LOC = "G5";
NET "Pads<RIGHT_MEM><DATA><4>" LOC = "N5";
NET "Pads<RIGHT_MEM><DATA><5>" LOC = "M4";
NET "Pads<RIGHT_MEM><DATA><6>" LOC = "L1";
NET "Pads<RIGHT_MEM><DATA><7>" LOC = "L3";
NET "Pads<RIGHT_MEM><DATA><8>" LOC = "M5";
NET "Pads<RIGHT_MEM><DATA><9>" LOC = "K2";
NET "Pads<RIGHT_MEM><WE_N>" LOC = "A2";
NET "Pads<CLOCKS><P_CLK>" TNM_NET = "Pads<CLOCKS><P_CLK>";
TIMESPEC "TS_U_Clocks_P_CLK_1" = PERIOD "Pads<CLOCKS><P_CLK>" 100 ns HIGH 50 %;
NET "Pads<CLOCKS><U_CLK>" TNM_NET = "Pads<CLOCKS><U_CLK>";
TIMESPEC "TS_Pads_CLOCKS_U_CLK" = PERIOD "Pads<CLOCKS><U_CLK>" 200 ns HIGH 50 %;
